certifi==2020.12.5
click==7.1.2

   
requests
Flask
oauthlib
pyOpenSSL
decorator
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
lxml
MarkupSafe
migrate
pbr
Pillow
PyGithub
six
SQLAlchemy
sqlalchemy-migrate
sqlparse
Tempita
Werkzeug
wheel
WTForms
Flask-PyMongo
pymongo
dnspython
pytz
flask-socketio
gevent
flask_talisman