certifi==2020.12.5
click==7.1.2
requests==2.28.1
Flask==2.2.1
oauthlib==3.2.0
pyOpenSSL==22.0.0
decorator==5.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
migrate==0.3.8
pbr==5.9.0
Pillow==9.2.0
PyGithub==1.55
six==1.16.0
SQLAlchemy==1.4.39
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
Tempita==0.5.2
Werkzeug==2.2.1
wheel
WTForms==3.0.1
Flask-PyMongo==2.3.0
pymongo==4.2.0
dnspython==2.2.1
pytz==2022.1
flask-socketio==5.2.0
gevent==21.12.0