#login-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
#log-in-container {
  margin: 0 auto;
  margin-top: 80px;
  width: 400px;
  height: 200px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 7px -2px gray;
  /* Gradient for Each Month's Theme? + Opacity 0.50 */
}
#log-in-header {
  padding-top: 30px;
}
#log-in-button {
  margin: auto;
  margin-top: 20px;
  width: 260px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid #dadce0;
  border-radius: 3px;

}
#log-in-link:hover {
  text-decoration: none;
}
#log-in-link:link {
  text-decoration: none;
}
#google-logo {
  margin-left: -40px;
  display: inline;
}
#log-in-text {
  margin-left: 30px;
  display: inline;
}
#log-in-footer {
  margin-top: 10px;
  color: #dc3544;
}
