img { /* make images and create button undraggable and unhighlitable*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -osuser-drag: none;
  user-drag: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 
#first-all {
  visibility: hidden;
  overflow: hidden;
}
#content { /* make calc good on all browsers ; Make margin and padding 0 because of broswer differences ; make no horizontal scroll at small screen sizes*/
  display: grid;
  grid-template-rows: 48px calc(100vh - 98px);
  grid-template-columns: 270px minmax(0px, auto) 220px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  gap: 0px;
}

#header {
  grid-column: 1;
  grid-row: 1;
  background-color: #2f3136;
  border-bottom: 1px solid #232428; /* pseudo element for double border */
}
#header_text {
  line-height: 48px;
  margin-left: 18px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
#information {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: hotpink;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#home {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}
#channels {
  grid-column: 1;
  grid-row: 2;
  border-top: 1px solid #2b2d32; /* remove once double border */
  background-color: #2f3136;
}
.room {
  width: 254px;
  height: 32px;
  border-radius: 4px;
  background-color: #43474d;
  color: #ffffff;
  margin-left: 8px;
  line-height: 32px;
  padding-left: 24px;
  margin-top: 10px;
}
.room:hover {
  background-color: #3c3f45;
}
#chats {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  background-color: #36393e;
}
#chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #36393e;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column-reverse;
  margin-right: 3px;
}
.message-container {
  display: grid;
  color: #d7d9da;
  grid-template-columns: 2px auto;
  grid-auto-rows: minmax(min-content, max-content);
  padding-top: 4px;
  padding-right: 51px;
  padding-left: 20px;
  padding-bottom: 14px; /*wefghnrfedfr*/
  margin-bottom: 20px;
  margin-top: -10px;
}
.message-container:hover {
  background-color: #32353a;
}
.message-title {
  margin-left: 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 0px;
}
.datetime {
  font-size: 10px;
  overflow-wrap: break-word; /* Maybe not necessary for datetime and combine time */
  overflow: hidden;
  opacity: 0.9;
}
.message {
  margin-bottom: 0px;
  padding: 0;
  margin-left: 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
  white-space: pre-wrap;

}
.pfp {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1 / 3;
}
.message-container-combine {
  display: grid;
  color: #d7d9da;
  grid-template-columns: 50px auto;
  grid-auto-rows: minmax(min-content);
  padding-right: 51px;
  padding-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  
}
.message-container-combine:hover {
  background-color: #32353a;
}
.message-combine-time {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  padding-top: 6px;
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 10px;
  grid-column: 1;
  grid-row: 1;
  visibility: hidden;
  opacity: 0.9;
}
.message-combine {
  padding: 2px;
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
  white-space: pre-wrap;
}
#message_input_form {
  z-index: 1; /* For more chrome versions; the hightlight focus on textarea top gets obscured by chat div*/
  margin-right: 18px;
  margin-left: 18px;
  border-radius: 4px;
  background: white;
  min-height: 39px;
  min-width: 84px;
}
#message_input { /* make textbox (textarea?) expandable for chunked messages; different highlight on click */
  width: calc(100% - 39px);
  min-width: 43px;
  overflow-x: hidden;
  float: left;
  padding-left: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  resize: none;
}
#submit {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  float: right;
  width: 39px;
  height: 39px;
  background-color: transparent;
  border: none;
}
#send {
  width: 26px;
  height: 26px;
}
#typing_display {
  height: 20px;
  line-height: 20px;
  color: #d7d9da;
  margin-left: 29px;
  font-size: 12px;
}
#members {
  grid-column: 3;
  z-index: 1; /* to make the send button not overlay the members div on small screen sizes can change once small version introduced */
  grid-row: 2;
  background-color: #2f3136;
}
#footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: hotpink;
  overflow: hidden;
  background: linear-gradient(225deg, hotpink 20px, hotpink 20px);
}


#profile {
  display: inline-block;
  width: 220px;
  height: 46px;
  margin-left: 2px;
  border-radius: 2px;
  background-color: hotpink;
  overflow: hidden;
}
#profile_picture {
  display: inline-block;
  margin-left: 12px;
  margin-top: -1px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
#username {
  display: inline-block;
  margin-left: 2px;
  line-height: 48px;
  margin-top: -1px;
}
#settings {
  display: inline-block;
  margin-left: 44px;
  margin-top: -1px;
}
/* add a min width and responsive thing to spaces */
/* Some math is needed for the width responsiveness; take 1 - percentage of the profile pixels*/
#spaces {/* arrow key rolling between each space shown below */
  display: inline-block;
  width: 68%;
  min-width: 200px;
  margin-left: 20px;
  height: 50px;
  border-radius: 2px;
  overflow: hidden;
}
#space_align_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.space {
  display: inline-block;
  width: 55px;
  height: 39px;
  border-radius: 10%;
  margin-right: 3px;
}
#create-space-button {
  width: 55px;
  height: 39px;
}
::-webkit-scrollbar {
  width: 8px;

}
::-webkit-scrollbar-track {
  background-color: #2e3338;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 8px;
  
  
}
::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 10px;
}
/* Implement Scroll to bottom on send

5:14 PM

Enter message box css and send button css

5:15 PM

Time appear on hover

5:15 PM

CSS of datetime on regular messages */
