img { /* make images and create button undraggable and unhighlitable*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -osuser-drag: none;
  user-drag: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 
.pointer:hover {
  cursor: pointer;
}
#first-all {
  overflow: hidden;
  display: none;
}
#home-page {
  overflow: hidden;
  display: block;
}
#space-search {
  background-color: white;
  opacity: 0;
  position: fixed;
  overflow-y: scroll;
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
#space-directory-lfg-header {
  margin-left: 18px;
  margin-right: 18px;
  border-bottom: 1px solid black;
  width: auto;
}
#space-directory-lfg-title {
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
}
#directory-space {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
/*Make Responsive with Overlay Overflow Resize, word-break, etc. */
.form-space {
  width: 302px;
  height: 302px;
  background-color: gray;
}
/* if image sizes are turned up to 40px instead of 39px, change aspect ratio */
.directory-space-img {
  object-fit: cover;
  width: 302px;
  height: 220px;
}
.directory-space-title {
  font-weight: bold;
  color: white;
  margin-left: 18px;
  margin-top: 10px;
}
.directory-space-description {
  color: white;
  margin-left: 18px;
  margin-right: 18px;
}
#close-space-search-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 9px;
  float: right;
}
/* #close-space-search-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 9px;
  float: right;
}
h1 {
  display: inline-block;
  margin-left: 9px;
}
#user-directory {
  display: inline-block;
  width: 270px;
  height: 100vh;
  background: hotpink;
  float: left;
}
#space-directory-lfg {
  width: calc(100vw - 270px);
  height: 100vh;
  background: blueviolet;
  display: inline-block;
} */
#content { /* make calc good on all browsers ; Make margin and padding 0 because of broswer differences ; */
  display: grid;
  grid-template-rows: 48px calc(100vh - 98px);
  grid-template-columns: 270px minmax(0px, auto) 220px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  gap: 0px;
}

#header {
  grid-column: 1;
  grid-row: 1;
  background-color: #2f3136;
  border-bottom: 1px solid #232428; /* pseudo element for double border */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
#header_text {
  line-height: 48px;
  margin-left: 18px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
#create-section-button {
  float: right;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 15px;
}
#information {
  grid-column: 2 / 4;
  grid-row: 1;
  justify-content: space-between;
  background-color: hotpink;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#room-name-display {
  margin-left: 18px;
  color: white;
  margin-top: 8px;
}

#home {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}
#channels {
  grid-column: 1;
  grid-row: 2;
  border-top: 1px solid #2b2d32; /* remove once double border */
  background-color: #2f3136;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section {
  margin-top: 14px;
  color: white;
  width: 100%;
}
.section-name {
  display: inline-block;
  margin-left: 14px;
  font-weight: bold;
}
.create-room-button {
  display: inline-block;
  float: right;
  font-size: 18px;
  line-height: 18px;
  margin-right: 14px;
}
.room {
  width: 254px;
  height: 32px;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 8px;
  line-height: 32px;
  padding-left: 24px;
  margin-top: 2px;
}
.room:hover {
  background-color: #3c3f45;
}
.room .room-settings {
  visibility: hidden;
}
.room:hover .room-settings {
  visibility: visible;
}
.room-settings {
  float: right;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 14px;
  margin-top: 9px;
}
#chats {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  background-color: #36393e;
}
#chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #36393e;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column-reverse;
  margin-right: 3px;
}
.message-container {
  display: grid;
  color: #d7d9da;
  grid-template-columns: 2px auto;
  grid-auto-rows: minmax(min-content, max-content);
  padding-top: 4px;
  padding-right: 51px;
  padding-left: 20px;
  padding-bottom: 2px; 
  margin-bottom: 20px;
  margin-top: -10px;
}
.message-container:hover {
  background-color: #32353a;
}
.message-title {
  margin-left: 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 0px;
}
.datetime {
  font-size: 10px;
  overflow-wrap: break-word; /* Maybe not necessary for datetime and combine time */
  overflow: hidden;
  opacity: 0.9;
}
.message {
  margin-bottom: 0px;
  padding: 0;
  margin-left: 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
  white-space: pre-wrap;

}
.pfp {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1 / 3;
}
.message-container-combine {
  display: grid;
  color: #d7d9da;
  grid-template-columns: 50px auto;
  grid-auto-rows: minmax(min-content);
  padding-right: 51px;
  padding-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  
}
.message-container-combine:hover {
  background-color: #32353a;
}
.message-combine-time {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  padding-top: 6px;
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 10px;
  grid-column: 1;
  grid-row: 1;
  visibility: hidden;
  opacity: 0.9;
}
.message-combine {
  padding: 2px;
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
  white-space: pre-wrap;
}
#message_input_form {
  z-index: 1; /* For more chrome versions; the hightlight focus on textarea top gets obscured by chat div*/
  margin-right: 18px;
  margin-left: 18px;
  border-radius: 4px;
  background: white;
  min-height: 39px;
  min-width: 84px;
}
#message_input { /* different highlight on click */
  width: calc(100% - 39px);
  min-width: 43px;
  overflow-x: hidden;
  float: left;
  padding-left: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  background: transparent;
  border: none;
  resize: none;
}
#submit {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  float: right;
  width: 39px;
  height: 39px;
  background-color: transparent;
  border: none;
}
#send {
  width: 26px;
  height: 26px;
}
#typing_display {
  height: 20px;
  line-height: 20px;
  color: #d7d9da;
  margin-left: 29px;
  font-size: 12px;
}
#members {
  grid-column: 3;
  z-index: 1; /* to make the send button not overlay the members div on small screen sizes can change once small version introduced */
  grid-row: 2;
  background-color: #2f3136;
}
#footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #282a2e;
  border-top: 1px solid #232428;
  overflow: hidden;
  background: linear-gradient(225deg, #282a2e 20px, #282a2e 20px);
}
#profile {
  display: grid;
  align-items: center;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: 2px auto 30px;
  min-width: 270px;
  padding-left: 20px;
}
#profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1/3;
}
#username {
  color: #ffffff;
  font-weight: bold;
  margin-left: 50px;
  white-space: nowrap;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 0px;
}
#student_id {
  color: #d7d9da;
  font-size: 12px;
  margin-bottom: 0px;
  white-space: nowrap;
  word-break: keep-all;
  padding: 0;
  margin-left: 50px;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
}
#settings {
  color: #d7d9da;
  grid-column: 3;
  grid-row: 1/3;
  margin-bottom: 0px;
}
/* add a min width and responsive thing to spaces */
/* Some math is needed for the width responsiveness; take 1 - percentage of the profile pixels*/
#spaces {/* arrow key rolling between each space shown below */
  width: 68%;
  min-width: 200px;
  margin-left: 20px;
  height: 50px;
  border-radius: 2px;
  overflow: hidden;
}
#space_align_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.space-wrapper {
  display: inline-block;
  width: 55px;
  height: 39px;
  margin-right: 3px;
}
.space-wrapper:hover .active-space {
  width: 21px;
  -webkit-transition: width 0.1s ease-out;
  -moz-transition: width 0.1s ease-out;
  -o-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}
.active-space {
  margin: auto;
  margin-top: 2px;
  border-radius: 50%;
  width: 0px;
  height: 11px;
  background-color: white;
}
.space {
  object-fit: cover;
  width: 55px;
  height: 39px;
  border-radius: 7px;
}
.space:hover {
  border-radius: 3px;
  -webkit-transition: border-radius 0.15s ease-out;
  -moz-transition: border-radius 0.15s ease-out;
  -o-transition: border-radius 0.15s ease-out;
  transition: border-radius 0.15s ease-out;
}
#create-space-button {
  width: 55px;
  height: 39px;
}
#space-search-button {
  width: 55px;
  height: 39px;
}
::-webkit-scrollbar {
  width: 8px;

}
::-webkit-scrollbar-track {
  background-color: #2e3338;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 8px;
  
  
}
::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 10px;
}

/* Add User Select None Class */