<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Santa Barbara High School</title>
  </head>
  <body>
    <div id="first-all">
      <div id="content">
        <div id="header">
          <span id="header_text"></span>
        </div>
        <div id="information">
        </div>
        <div id="channels"></div>
<!--         when new message is sent, make the new message appear above the message bar and not mess up the scrolling (Safari only). -->
        <div id="chats">
          <div id="chat">
            <div id="messages">
            </div>
          </div>
          <form id="message_input_form">
            <!--see w3schools input attributes like max char, spam, etc. -->
            <textarea id="message_input" rows="1" placeholder="Enter message"></textarea>
<!--             <input type="text" id="message_input" placeholder="Enter message"> -->
              <button type="submit" id="submit"><img id="send" src="/static/images/send.png" alt="Send"></button>
          </form>
          <span id="typing_display"></span>
        </div>
        <div id="members">
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="profile">
        <!-- load exclamation mark icon if not showing -->
        <img src={{ picture }} alt="pfp" id="profile_picture">
        <p id="username">{{ name }}</p>
        <p id="settings">#</p>
      </div>
      <div id="spaces">
        <span id="space_align_helper"></span>
          <button type="button" id="create-space-button"><img src="/static/images/ppicons-plus.svg" alt="create" style="width:25px;height:25px;"></button>
        </div>
      </div>
    </div>
    <div id="create-space" class="modal">
      <div class="modal-content">
        <span id="close-create-space" class="close">&times;</span>
        <form id="create-space-form" action="/createSpace" method="POST">
          <label for="space-name">Space Name:</label><br>
          <input type="text" id="space-name" name="spaceName"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div id="create-room" class="modal">
      <div class="modal-content">
        <span id="close-create-room" class="close">&times;</span>
        <form id="create-room-form" action="/createRoom" method="POST">
          <label for="room-name">Room Name:</label><br>
          <input type="text" id="room-name" name="roomName"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io();
    var chat_history_skip = 0;
    var current_room = '';
    var typing = false;
    var timeout = null;
    var current_space = '';
    var typing_list = [];
    
    function stoppedTyping() {
      typing = false;
      socket.emit('stopped_typing', {
        name: "{{ name }}",
        room: current_room
      });
    }
    function isTyping() {
      if (typing == false) {
        typing = true;
        socket.emit('is_typing', {
          name: "{{ name }}",
          room: current_room
        });
        timeout = setTimeout(stoppedTyping, 5000);
      }
      else {
        clearTimeout(timeout);
        timeout = setTimeout(stoppedTyping, 5000);
      }
    }
    
    $(window).on("load", function() { 
      $.ajax({
        type: 'POST',
        url: '/list_spaces',
        dataType: "json",
        success: function(spaces_list) {
          spaces_list.forEach(function(item) {
            const newMode = document.createElement('img');
            newMode.className = 'space';
            newMode.id = item._id.$oid;
            newMode.setAttribute('data-name', item.name);
            newMode.src = '/static/images/Space.jpeg';
            referenceNode = document.getElementById('space_align_helper');
            referenceNode.parentNode.insertBefore(newMode, referenceNode.nextSibling);
          });
        }
      });
    });
    
    $('#chat').scroll(function() { //$('#chat').scrollTop() + $('#chat').height();
      if (Math.abs($('#chat').scrollTop()) == document.getElementById("chat").scrollHeight - document.getElementById("chat").offsetHeight) {  
        loadChatHistory();
      }
    });
    
    let message_input = document.getElementById("message_input");
    message_input.oninput = function() {
      message_input.style.height = "";
      message_input.style.height = Math.min(message_input.scrollHeight, 300) + "px";
    }; 
    $(message_input).keypress(function (e) {
      if(e.which === 13 && !e.shiftKey) {
        e.preventDefault();
        $(document.getElementById('message_input_form')).submit();
        message_input.setAttribute("style", "");
        message_input.value = "";
//       put placeholder message (message is loading but is faded out to account for lag time or disconnected if wanted)
      }
      else {
      	isTyping();
      }
    });
    
    document.getElementById('message_input_form').onsubmit = function (e) {
      e.preventDefault();
      let message = message_input.value.trim();
      document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight; 
      stoppedTyping();
      clearTimeout(timeout);
      if (message.length) {
        socket.emit('send_message', {
          name: "{{ name }}",
          room: current_room,
          picture: "{{ picture }}",
          message: message
        });
      }
      message_input.value = '';
      message_input.focus();
      //last_message = message;
    }

    socket.on('recieve_message', function (data) {
      const newMode = document.createElement('div');
      var messageMoment = moment(data.datetime).local().format('h:mm A');
      if (data.combine == 'false') {
        newMode.className = 'message-container';
        messageMoment = 'at ' + messageMoment;
        // Give pfp image default fallback image
        newMode.innerHTML = '<img class="pfp" src="' + data.picture + '" alt="!"> <p class="message-title"> <span class="name"> <b>' + data.name + ' </b> </span> <span class="datetime">' + messageMoment + '</span> </p> <p class="message">' + data.message + '</p>';
      }
      else {
        newMode.className = 'message-container-combine';
        newMode.innerHTML = '<p class="message-combine-time">' + messageMoment + '</p><p class="message-combine">' + data.message + '</p>';
      }
      document.getElementById('messages').append(newMode);
    });
    socket.on('is_typing', function (data) {
      if (!typing_list.includes(data.name) && data.name != "{{ name }}") {
        typing_list.push(data.name);
      }
      changeTypingDisplay();
    });
    
    socket.on('stopped_typing', function (data) {
      if (typing_list.includes(data.name)) {
        const index = typing_list.indexOf(data.name);
        if (index > -1) {
          typing_list.splice(index, 1); 
        }
        changeTypingDisplay();
      }
    });
    
    let typing_display = document.getElementById('typing_display');
    function changeTypingDisplay() {
      if (typing_list.length == 0) {
        typing_display.textContent = '';
      }
      else if (typing_list.length == 1) {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b> is typing...';
      }
      else if (typing_list.length == 2) {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b> and <b>' + typing_list[1] + '</b> are typing...';
      }
      else if (typing_list.length == 3) {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b>, <b>' + typing_list[1] + '</b>, and <b>' + typing_list[2] + '</b> are typing...';
      }
      else {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b>, <b>' + typing_list[1] + '</b>, <b>' + typing_list[2] + '</b>, and' + String(typing_list.length - 3) + ' others are typing...';
      }
    }
    
    socket.on('join_room_announcement', function (data) {
      const newMode = document.createElement('div');
      newMode.innerHTML = data.username + ' has joined';
      document.getElementById('messages').prepend(newMode);
    });
    
    function loadChatHistory() {
      $.ajax({
        type: 'POST',
        url: '/chat_history',
        dataType: "json",
        data: JSON.stringify({'i': String(chat_history_skip), 'room': current_room}),
        contentType: 'application/json;charset=UTF-8',
        success: function(chat_history) {
          chat_history_skip += 100;
          //var nowMomentTwo = DateTime.utc().toLocal();
          var todayDate = moment();
          var yesterdayDate = moment().subtract(1, 'day');
          
          var timeDisplayMode = 0;
          chat_history.forEach(function(item) {
            var messageDate = moment(item.datetime);
            var messageMoment = moment.utc(item.datetime).local();
            const newMode = document.createElement('div');
            if (item.combine == 'false') {
              newMode.className = 'message-container';
              if(moment(messageDate).isSame(todayDate, 'day')) {
                messageDate = 'at ' + messageDate.format('h:mm A');
              }
              else if(moment(messageDate).isSame(yesterdayDate, 'day')) {
                messageDate = 'Yesterday at ' + messageDate.format('h:mm A');
              }
              else {
                  messageDate = 'on ' + messageDate.format('M/D/YYYY');
              }
              newMode.innerHTML = '<img class="pfp" src="' + item.picture + '" alt="!"> <p class="message-title"> <span class="name"> <b>' + item.name + ' </b> </span> <span class="datetime">' + messageDate + '</span> </p> <p class="message">' + item.message + '</p>';
            }
            else {
              newMode.className = 'message-container-combine';
              newMode.innerHTML = '<p class="message-combine-time">' + messageDate.format('h:mm A') + '</p><p class="message-combine">' + item.message + '</p>';
            }
            document.getElementById('messages').prepend(newMode);
          });
        } 
      });
    }
    
    let space_name_input = document.getElementById('space-name');
    document.getElementById('create-space-form').onsubmit = function (e) {
      e.preventDefault();
      let space_name = space_name_input.value.trim();
      if (space_name.length) { 
        $.ajax({
          type: 'POST',
          url: '/create_space',
          dataType: "json",
          data: JSON.stringify({'space_name': space_name}),
          contentType: 'application/json;charset=UTF-8',
          success: function(room_and_section) {
            document.getElementById("create-space").style.display = "none";
          	current_space = room_and_section[0][0]['space'];
          	current_room = room_and_section[0][0]['_id']['$oid'];
          	socket.emit('join_room', {
              room: current_room
            });
            document.getElementById('messages').textContent = '';
            document.getElementById('channels').textContent = ''; 
            document.getElementById('header_text').textContent = space_name; 
            chat_history_skip = 0;
            var newNode = document.createElement('img');
            newNode.className = 'space';
            newNode.id = current_space;
            newNode.src = '/static/images/Space.jpeg';
            newNode.setAttribute('data-name', space_name);
            referenceNode = document.getElementById('space_align_helper');
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            newNode = document.createElement('div');
            newNode.className = 'section';
            newNode.id = room_and_section[1][0]['_id']['$oid'];
            newNode.textContent = room_and_section[1][0]['name'];
            document.getElementById('channels').append(newNode);
            newNode = document.createElement('div');
          	newNode.className = 'room';
          	newNode.id = current_room;
          	newNode.textContent = 'general';
          	document.getElementById('channels').append(newNode);
          	newNode = document.createElement('div');
            newNode.className = 'room';
            newNode.id = 'create-room-button';
            newNode.type = 'button';
            newNode.textContent = 'Create Room';
            document.getElementById('channels').append(newNode);
            $('#first-all').css('visibility', 'visible');
          }
        });
      }
    }
    
    $(document).on('click', '.space', function() { //do not do anything if user already on clicked space
      //hide homepage div 
      //show space div
      //reset chat_history_skip
      //set room = id of first room
      //clear .messages div and call loadChatHistory (needs to be modified to take room id)
      $('#first-all').css('visibility', 'visible');
      current_space = this.id;
      $.ajax({
        type: "POST",
        url: '/space',
        dataType: "json",
        data: JSON.stringify({'space_name': current_space}), //JSOn.stringify
        contentType: 'application/json;charset=UTF-8',
        success: function(rooms_and_sections) {
          current_room = rooms_and_sections[0][0]['_id']['$oid'];
          socket.emit('join_room', {
            room: current_room
          });
          document.getElementById('messages').textContent = '';
          document.getElementById('header_text').textContent = document.getElementById(rooms_and_sections[0][0]['space']).getAttribute('data-name');
          chat_history_skip = 0;
          loadChatHistory();
          document.getElementById('channels').textContent = ''; 
          typing_display.textContent = '';
          typing_list = [];
          stoppedTyping();
          clearTimeout(timeout);
          var newNode = null;
          rooms_and_sections[1].forEach(function(section) {
            newNode = document.createElement('div');
            newNode.className = 'section';
            newNode.id = section['_id']['$oid'];
            newNode.textContent = section['name'];
            document.getElementById('channels').append(newNode);
            rooms_and_sections[0].forEach(function(room) {
              if (room['section'] == section['_id']['$oid']) {
                newNode = document.createElement('div');
                newNode.className = 'room';
              	newNode.id = room['_id']['$oid'];
             	newNode.textContent = room['name'];
             	document.getElementById('channels').append(newNode);
              }
            });
          });
          newNode.className = 'room';
          newNode.id = 'create-room-button';
          newNode.type = 'button';
          newNode.textContent = 'Create Room';
          document.getElementById('channels').append(newNode);
        }
      });
    });
    
  </script>
</html>
