<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>    <!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Santa Barbara High School</title>
  </head>
  <body>

    <!--Space Directory Page-->
  	<div id="space-search">
  	  <!-- <div id="user-directory">
  	    <h1>User Directory</h1>
  	  </div> -->

      <div id="space-directory-lfg-header">
        <span id="space-directory-lfg-title">Club Directory</span>
        <!--UI For Double Click (Back and Home Button Overlayed)-->
        <img class="pointer" id="close-space-search-button" src="/static/images/back.png">
      </div>

        <!--TODO: implement Table Layout Later-->
        <!-- <div class = empty side columns> <table id="directory-space">
          <tr>
            <th>(Banner)</th>
            <th>Moderator</th>
            <th>Name / Description</th>
            <th>Meta</th>
          </tr>
        <table> -->
      <div id="directory-space">
      </div>
    </div>

    <!--User Profile Page-->
    <div id="user-page">
      <div id="log-out"></div> 
      <img class="pointer" id="close-user-page" src="/static/images/back.png">
    </div>

    <!--Home Page-->
    <div id="home-page">
      <img id="sbhs" src="/static/images/sbhs.png">
    	<h1 id="sbhs-title">Santa Barbara High School Platform</h1>
    </div>


    <!--Spaces Page-->
      <div id="first-all">
        <div id="content">
          <div id="header">
            <span id="header_text"></span>
            <img class="pointer" id="server-settings-button" src="/static/images/settings-white.png">
            <div id="space-settings-popup">
              <div class="pointer" id="create-section-button">Create Section</div>
              <div class="pointer" id="leave-space">Leave Space</div>
            </div>
          </div>
          <div id="information">
            <img class="pointer" id="home" src="/static/images/home-white.png">
            <p id="room-name-display"></p>
          </div>
          <div id="channels">
            <ul id="special-channels"></ul>
            <ul id="regular-channels"></ul>
          </div>

<!--         when new message is sent, make the new message appear above the message bar and not mess up the scrolling (Safari only). -->
          <div id="chats">
            <div id="chat">
              <div id="messages">
              </div>
            </div>
            <!--Recipients, Message, Date, Theme,
             Name of Sender (email), Name of the space*/-->
            <form id="email_input_form">
            
            </form>
            <form id="message_input_form">
              <!--see w3schools input attributes like max char, spam, etc. -->
              <textarea id="message_input" rows="1" placeholder="Enter message"></textarea>
<!--             <input type="text" id="message_input" placeholder="Enter message"> -->
              <button type="submit" id="submit"><img id="send" src="/static/images/send.png" alt="Send"></button>
            </form>
            <span id="typing_display"></span>
          </div>
          <div id="members">
          </div>
        </div>
      </div>


      <div id="footer">
        <div id="profile">
          <!-- load exclamation mark icon if not showing -->
          <img src={{ picture }} alt="pfp" class="profile-picture pointer">
          <p id="username" class="pointer">{{ name }}</p>
          <p id="student_id" class="pointer">Santa Barbara High School</p>
          <img class="pointer" id="settings" src="/static/images/settings-white.png">
        </div>
        <ul id="spaces">
          <span id="space_align_helper"></span>
            <button type="button" id="create-space-button"><img src="/static/images/ppicons-plus.svg" alt="create" style="width:25px;height:25px;"></button>
            <button type="button" id="space-search-button"><img src="/static/images/temporary-search.png" alt="create" style="width:25px;height:25px;"></button>
          </div>
        </ul>
      </div>


    <div id="create-space" class="modal">
      <div class="modal-content">
        <span id="close-create-space" class="close">&times;</span>
        <form id="create-space-form">
          <label for="space-name">Space Name:</label><br>
          <input type="text" id="space-name"><br>
          <!--Accept Files, Sanitize Files, Compress Files-->
          <label for="space-picture">Space Picture (currently only accepts links):</label><br>
          <input type="text" id="space-picture"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div id="create-room" class="modal">
      <div class="modal-content">
        <span id="close-create-room" class="close">&times;</span>
        <form id="create-room-form">
          <label for="room-name">Room Name:</label><br>
          <input type="text" id="room-name"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div id="create-section" class="modal">
      <div class="modal-content">
        <span id="close-create-section" class="close">&times;</span>
        <form id="create-section-form">
          <label for="section-name">Section Name:</label><br>
          <input type="text" id="section-name"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>

    <div id="context-menu">Hello</div>
    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    //Give small space to empty categories room-group 
    var socket = io();
    var chat_history_skip = 0;
    var current_room = '';
    var old_room = '';
    var typing = false;
    var timeout = null;
    var current_space = '';
    var typing_list = [];
    var selected_section = '';
    var space_admin = false;
    var user_id = '{{ user_id }}';
    var selected_user = '';

    $("#regular-channels").sortable({
      axis: 'y',
      opacity: 0.7,
      scroll: false,
      items: '.section-group',
      distance: '3',
      update: function() {
        var rooms = document.querySelectorAll('.room');
        var room_list = [];
        for (let i = 0; i < rooms.length; i++) {
          room_list.push(rooms[i].id);
        }
        var sections = document.querySelectorAll(".section");
        var section_list = [];
        for (let i = 0; i < sections.length; i++) {
          section_list.push(sections[i].id);
        }
        socket.emit('sorted_channels', {
          room_list: room_list,
          section_list: section_list
        });
      }
    });

    socket.on('sorted_channels', function (data) {
      data.section_list.forEach(function(section_id) {
        document.getElementById(section_id).parentElement.parentElement.appendChild(document.getElementById(section_id).parentElement);
      });
    });

    $('#spaces').sortable({
      axis: 'x',
      items: "> li",
      opacity: 0.7,
      scroll: false,
      distance: '3',
      update: function() {
        var spaces = document.querySelectorAll('.space');
        var space_list = [];
        for (let i = 0; i < spaces.length; i++) {
          space_list.push(spaces[i].id);
        }
        $.ajax({
          type: 'POST',
          url: '/sorted_spaces',
          dataType: "json",
          data: JSON.stringify({'space_list': space_list.reverse()}),
          contentType: 'application/json;charset=UTF-8',
          success: function(data) {
            /*if (data['success'] == 'true') {
              alert("success");
            }
            else {
              alert("didnt save");
            }*/
          }
        });
      }
    });

    function roomSort() {
      var room_group = document.querySelectorAll('.room-group');
      var room_group_list = [];
      for (let i = 0; i < room_group.length; i++) {
        let rooms = room_group[i].querySelectorAll('.room');
        let room_list = [room_group[i].previousElementSibling.id];
        for (let j = 0; j < rooms.length; j++) {
          room_list.push(rooms[j].id);
        }
        room_group_list.push(room_list);
      }
      socket.emit('sorted_rooms', {
        room_group_list: room_group_list
      });
    }

    socket.on('sorted_rooms', function (data) {
      data.room_group_list.forEach(function(room_group) {
        room_group.slice(1).forEach(function(room_id) {
          document.getElementById(room_group[0]).nextElementSibling.appendChild(document.getElementById(room_id));
        });
      });
    });

  // Context context-menu
  // If we need more broswer compatibility: see https://stackoverflow.com/questions/4909167/how-to-add-a-custom-right-click-menu-to-a-webpage
//   if (document.addEventListener) {
//   var elements = document.getElementsByClassName("classname");

// var myFunction = function() {
//     var attribute = this.getAttribute("data-myattribute");
//     alert(attribute);
// };

// for (var i = 0; i < elements.length; i++) {
//     elements[i].addEventListener('click', myFunction, false);
// }
//   document.addEventListener('contextmenu', function(e) {
//     alert("You've tried to open context menu"); //here you draw your own menu
//     e.preventDefault();
//   }, false);
// } else {
//   document.attachEvent('oncontextmenu', function() {
//     alert("You've tried to open context menu");
//     window.event.returnValue = false;
//   });
// }

  // // Close context menu on outside click
  // $(document).on("click", function(event) {
  //   document.getElementById("rmenu").className = "hide";
  // });


    $(document).on('click', '#log-out', function () {
      $.get('/logout');
      window.location.replace("https://sbhs-platform.herokuapp.com/");
    });

    $(document).on('click', '#leave-space', function() {
      document.querySelector('[data-id="' + current_space + '"]').firstChild.nextElementSibling.nextElementSibling.nextElementSibling.textContent = 'Not Joined';      
      $.ajax({
        type: 'POST',
        url: '/leave_space',
        dataType: "json",
        data: JSON.stringify({'space-id': current_space}),
        contentType: 'application/json;charset=UTF-8',
        success: function(data) {
          $("#first-all").hide();
          $("#home-page").show();
          $("#" + current_space).parent().remove();
        }
      })
    });

    // below psuedocode comments for saving unsent messages
    // list of messages being typed by user containing message (updated when user clicks on space or another room) and room id.
    // ['2hu45iu2323', 'Hi I love apples and cakes they are cool', '34yubjub42', 'I love appels']
    // Loop through this and check if joined room id is equal to any of these. If so, get index of that ID add one and make the message that message. Yep okay easy peasy lemon SQUEEEEZY.
    
    // Collapse Sections
    $(document).on('click', '.section', function() {
      selected_section = this.id;
    });
    
    // Contextmenu for Sections
    $(document).on('contextmenu', '.section', function (e) {
      selected_section = this.id;
      // document.getElementById('context-menu').style.top = mouseY(event) + 'px';
      // document.getElementById('context-menu').style.left = mouseX(event) + 'px';
      $(document.getElementById('context-menu')).show();
      alert('this worked?!');
      e.preventDefault();
      
    });

  // function mouseX(evt) {
  //   if (evt.pageX) {
  //     return evt.pageX;
  //   } else if (evt.clientX) {
  //     return evt.clientX + (document.documentElement.scrollLeft ?
  //       document.documentElement.scrollLeft :
  //       document.body.scrollLeft);
  //   } else {
  //     return null;
  //   }
  // }

  // function mouseY(evt) {
  //   if (evt.pageY) {
  //     return evt.pageY;
  //   } else if (evt.clientY) {
  //     return evt.clientY + (document.documentElement.scrollTop ?
  //       document.documentElement.scrollTop :
  //       document.body.scrollTop);
  //   } else {
  //     return null;
  //   }
  // }

    function stoppedTyping() {
      typing = false;
      socket.emit('stopped_typing', {
        name: "{{ name }}",
        room_id: current_room
      });
    }

    function isTyping() {
      if (typing == false) {
        typing = true;
        socket.emit('is_typing', {
          name: "{{ name }}",
          room_id: current_room
        });
        timeout = setTimeout(stoppedTyping, 5000);
      }
      else {
        clearTimeout(timeout);
        timeout = setTimeout(stoppedTyping, 5000);
      }
    }
    
    $(window).on("load", function() { // TODO: combine AJAX calls
      $.ajax({
        type: 'POST',
        url: '/user_spaces',
        dataType: "json",
        success: function(user_space_list) {
          user_space_list.forEach(function(item) { 
            try {
              var newNode = document.createElement('li'); 
              newNode.className = 'space-wrapper';
            
              var newNodeChild = document.createElement('img'); 
              newNodeChild.className = 'space pointer';
              newNodeChild.id = item._id.$oid;
              newNodeChild.setAttribute('data-name', item.name);
              newNodeChild.src = item.picture;
              newNode.appendChild(newNodeChild);
            
              newNodeChild = document.createElement('div');
              newNodeChild.className = 'active-space';
              newNode.appendChild(newNodeChild); 
            
              referenceNode = document.getElementById('space_align_helper'); 
              referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling); 
            }
            catch(e) {
            }
          });
        }
      });
      $.ajax({
        type: 'POST',
        url: '/list_spaces',
        dataType: "json",
        success: function(data) {
          data[0].forEach(function(item) {
            newNode = document.createElement('div');
            newNode.className = 'form-space pointer';
            newNode.setAttribute('data-id', item['_id']['$oid']);
            newNodeChild = document.createElement('img');
            newNodeChild.className = 'directory-space-img';
            newNodeChild.src = item['picture'];
            newNode.appendChild(newNodeChild);
            newNodeChild = document.createElement('div');
            newNodeChild.className = 'directory-space-title';
            newNodeChild.textContent = item['name'];
            newNode.appendChild(newNodeChild);
            newNodeChild = document.createElement('div');
            newNodeChild.className = 'directory-space-description';
            newNodeChild.textContent = 'Description of Space'
            newNode.appendChild(newNodeChild);
            newNodeChild = document.createElement('div');
            newNodeChild.className = 'directory-space-joined-status';
            if(item['members'].some(row => row.includes(data[1]))){
              newNodeChild.textContent = 'Joined';
            }
            else {
              newNodeChild.textContent = 'Not Joined';
            }
            newNode.appendChild(newNodeChild);
            document.getElementById('directory-space').append(newNode);
          });
        }
      });
    });
    
    $('#chat').scroll(function() { //$('#chat').scrollTop() + $('#chat').height();
      if (Math.abs($('#chat').scrollTop()) == document.getElementById("chat").scrollHeight - document.getElementById("chat").offsetHeight) {  
        loadChatHistory();
      }
    });
    
    let message_input = document.getElementById("message_input");
    message_input.oninput = function() {
      message_input.style.height = "";
      message_input.style.height = Math.min(message_input.scrollHeight, 300) + "px";
    }; 
    $(message_input).keypress(function (e) {
      if(e.which === 13 && !e.shiftKey) {
        e.preventDefault();
        $(document.getElementById('message_input_form')).submit();
        message_input.setAttribute("style", "");
        message_input.value = ""; //put placeholder message (message is loading but is faded out to account for lag time or disconnected if wanted)
      }
      else {
      	isTyping();
      }
    });
    
    document.getElementById('message_input_form').onsubmit = function (e) {
      e.preventDefault();
      let message = message_input.value.trim();
      document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight; 
      stoppedTyping();
      clearTimeout(timeout);
      if (message.length) {
        socket.emit('send_message', {
          name: "{{ name }}",
          room_id: current_room,
          user_id: user_id,
          picture: "{{ picture }}",
          message: message
        });
      }
      message_input.value = '';
      message_input.focus();
    }

    $(document).on('input', '.message_edit', function() {
      this.style.height = "auto";
      this.style.height = (this.scrollHeight) + "px";
    });

    $(document).on('keypress', '.message_edit', function(e) {
      if(e.which === 13 && !e.shiftKey) {
        e.preventDefault();
        $(this.parentNode).submit();
      }
    });

    $(document).on('submit', '.message_edit_input_form', function(e) {
      e.preventDefault();
      let message_id = this.parentNode.id;
      let edit = this.firstChild.value.trim();
      if (edit.length && edit != this.previousElementSibling.textContent) {
        let combine = null;
        if(this.parentNode.className == 'message-container') {
          combine = 'false';
        } 
        else {
          combine = 'true';
        }
        socket.emit('edited_message', {
          room_id: current_room,
          message_id: message_id,
          combine: combine,
          edit: edit
        });
      }
      else if (edit.length == 0) {
        //call delete message
      }
      $(this.previousElementSibling).show();
      $(this).remove();
    });

    socket.on('edited_message', function(data) {
      try {
        if(data.combine == 'false') {
          document.getElementById(data.message_id).firstChild.nextElementSibling.nextElementSibling.textContent = data.edit;
        }
        else{
          document.getElementById(data.message_id).firstChild.nextElementSibling.textContent = data.edit;
        }
      }
      catch(e) {
      }
    });

    socket.on('recieve_message', function (data) {
      const newMode = document.createElement('div');
      var messageMoment = moment(data.datetime).local().format('h:mm A');
      if (data.combine == 'false') {
        newMode.className = 'message-container';
        newMode.id = data.message_id;
        messageMoment = 'at ' + messageMoment;
        // TODO: Give pfp image default fallback image
        if (space_admin == true && data.user_id == user_id) {
          newMode.innerHTML = '<img class="profile-picture pointer" src="' + data.picture + '" alt="!"><p class="message-title"><span class="name pointer"><b>' + data.name + ' </b></span><span class="datetime">' + messageMoment + '</span></p><p class="message">' + data.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"><img class="edit-message pointer" src="/static/images/temporary-edit-icon.png"><img class="delete-message pointer" src="/static/images/delete.png"></div>'; 
        }//change message should not have edit or delete button
        else {
          newMode.innerHTML = '<img class="profile-picture pointer" src="' + data.picture + '" alt="!"><p class="message-title"><span class="name pointer"><b>' + data.name + ' </b></span><span class="datetime">' + messageMoment + '</span></p><p class="message">' + data.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"></div>';
        }
      }
      else {
        newMode.className = 'message-container-combine';
        newMode.id = data.message_id;
        if (space_admin == true && data.user_id == user_id){
        newMode.innerHTML = '<p class="message-combine-time">' + messageMoment + '</p><p class="message-combine">' + data.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"><img class="edit-message pointer" src="/static/images/temporary-edit-icon.png"><img class="delete-message pointer" src="/static/images/delete.png"></div>';
        } //change message should not have edit or delete button
        else{
          newMode.innerHTML = '<p class="message-combine-time">' + messageMoment + '</p><p class="message-combine">' + data.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"></div>';
        }
      }
      document.getElementById('messages').append(newMode);
    });
    
    socket.on('is_typing', function (data) {
      if (!typing_list.includes(data.name) && data.name != "{{ name }}") {
        typing_list.push(data.name);
      }
      changeTypingDisplay();
    });
    
    socket.on('stopped_typing', function (data) {
      if (typing_list.includes(data.name)) {
        const index = typing_list.indexOf(data.name);
        if (index > -1) {
          typing_list.splice(index, 1);
        }
        changeTypingDisplay();
      }
    });
    
    socket.on('deleted_room', function(data) {
      $(document.getElementById(data.room)).remove();
      if (data.room == current_room) {
        joinRoom($('#regular-channels').find('.room')[0].id);
      }
    });

    let typing_display = document.getElementById('typing_display');
    function changeTypingDisplay() {
      if (typing_list.length == 0) {
        typing_display.textContent = '';
      }
      else if (typing_list.length == 1) {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b> is typing...';
      }
      else if (typing_list.length == 2) {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b> and <b>' + typing_list[1] + '</b> are typing...';
      }
      else if (typing_list.length == 3) {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b>, <b>' + typing_list[1] + '</b>, and <b>' + typing_list[2] + '</b> are typing...';
      }
      else {
        typing_display.innerHTML = '<b>' + typing_list[0] + '</b>, <b>' + typing_list[1] + '</b>, <b>' + typing_list[2] + '</b>, and' + String(typing_list.length - 3) + ' others are typing...';
      }
    }
    
    function loadChatHistory() {
      $.ajax({
        type: 'POST',
        url: '/chat_history',
        dataType: "json",
        data: JSON.stringify({'i': String(chat_history_skip), 'room_id': current_room}),
        contentType: 'application/json;charset=UTF-8',
        success: function(chat_history) {
          chat_history_skip += 100;
          var todayDate = moment();
          var yesterdayDate = moment().subtract(1, 'day');
          var timeDisplayMode = 0;
          chat_history.forEach(function(item) {
            var messageDate = moment(item.datetime);
            const newMode = document.createElement('div');
            if (item.combine == 'false') {
              newMode.className = 'message-container';
              newMode.id = item._id.$oid;
              newMode.setAttribute('data-date', messageDate.format('M/D/YYYY'));
              if(moment(messageDate).isSame(todayDate, 'day')) {
                messageDate = 'at ' + messageDate.format('h:mm A');
              }
              else if(moment(messageDate).isSame(yesterdayDate, 'day')) {
                messageDate = 'Yesterday at ' + messageDate.format('h:mm A');
              }
              else {
                  messageDate = 'on ' + messageDate.format('M/D/YYYY');
              }
              if (space_admin == true && item.user_id == user_id) {
                newMode.innerHTML = '<img class="profile-picture pointer" src="' + item.picture + '" alt="!"><p class="message-title"><span class="name pointer"><b>' + item.name + ' </b></span><span class="datetime">' + messageDate + '</span></p><p class="message">' + item.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"><img class="edit-message pointer" src="/static/images/temporary-edit-icon.png"><img class="delete-message pointer" src="/static/images/delete.png"></div>';
              } //change 
              else{
                newMode.innerHTML = '<img class="profile-picture pointer" src="' + item.picture + '" alt="!"><p class="message-title"><span class="name pointer"><b>' + item.name + ' </b></span><span class="datetime">' + messageDate + '</span></p><p class="message">' + item.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"></div>';
              }
            }
            else {
              newMode.className = 'message-container-combine';
              newMode.id = item._id.$oid;
              newMode.setAttribute('data-date', messageDate.format('M/D/YYYY'));
              if (space_admin == true && item.user_id == user_id) {
                newMode.innerHTML = '<p class="message-combine-time">' + messageDate.format('h:mm A') + '</p><p class="message-combine">' + item.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"><img class="edit-message pointer" src="/static/images/temporary-edit-icon.png"><img class="delete-message pointer" src="/static/images/delete.png"></div>'; 
              } 
              else {
                newMode.innerHTML = '<p class="message-combine-time">' + messageDate.format('h:mm A') + '</p><p class="message-combine">' + item.message + '</p><div class="message-options"><img class="report-message pointer" src="/static/images/report.png"></div>';
              }
            }
            document.getElementById('messages').prepend(newMode);
          });
        } 
      });
    }
    
    document.getElementById('create-room-form').onsubmit = function (e) {
      e.preventDefault();
      let room_name = document.getElementById('room-name').value.trim();
      if (room_name.length) {
        $.ajax({
          type: 'POST',
          url: '/create_room',
          dataType: 'json',
          data: JSON.stringify({'room_name': room_name, 'section_id': selected_section, 'space_id': current_space}),
          contentType: 'application/json;charset=UTF-8',
          success: function(room) {
            var room_list = [];
          	document.querySelectorAll(".room").forEach(function(item) {
          	  room_list.push(item.id);
          	});
            socket.emit('created_room', {
              room_id: room['_id']['$oid'],
              room_list: room_list,
              name: room_name,
              section_id: selected_section
            });
            document.getElementById("create-room").style.display = "none";
          }
        });
      }
    }
    
    socket.on('created_room', function(data) {
      const newNode = document.createElement('li');
      newNode.id = data.room_id;
      newNode.className = 'room pointer';
      newNode.setAttribute('data-section', data.section_id);
      newNode.setAttribute('data-name', data.name);
      if (space_admin == true){
      newNode.innerHTML = data.name + '<img class="room-settings" src="/static/images/settings-white.png">'; 
    }//change room settings
    else{
      //pass
    }
      const nodeList = document.querySelectorAll('li[data-section="' + data.section_id + '"]');
      if (nodeList.length != 0) {
        nodeList[nodeList.length - 1].parentNode.insertBefore(newNode, nodeList[nodeList.length - 1].nextElementSibling);
      }
      else {
      	document.getElementById(data.section_id).nextElementSibling.appendChild(newNode);
      }
    });
    
    document.getElementById('create-section-form').onsubmit = function (e) {
      e.preventDefault();
      let section_name = document.getElementById('section-name').value.trim();
      if (section_name.length) {
        $.ajax({
          type: 'POST',
          url: '/create_section',
          dataType: "json",
          data: JSON.stringify({'section_name': section_name, 'space_id': current_space}),
          contentType: 'application/json;charset=UTF-8',
          success: function(section) {
            var room_list = [];
          	document.querySelectorAll(".room").forEach(function(item) {
          	  room_list.push(item.id);
            });
            socket.emit('created_section', {
              section_id: section['_id']['$oid'],
              room_list: room_list,
              name: section_name,
            });
            document.getElementById("create-section").style.display = "none";
          }
        });
      }
    }
    
    socket.on('created_section', function(data) {
      var newNode = document.createElement('ul');
      newNode.className = 'section-group';
      var newNodeChild = document.createElement('li');
      newNodeChild.className = 'section pointer';
      newNodeChild.id = data.section_id;
      newNodeChild.innerHTML = '<div class="section-name">' + data.name + '</div><div class="create-room-button" type="button">+</div>'
      newNode.appendChild(newNodeChild);
      newNodeChild = document.createElement('ul');
      newNodeChild.className = 'room-group';
      newNode.appendChild(newNodeChild);
      document.getElementById('regular-channels').append(newNode);
      $('.room-group').sortable({
        connectWith: '.room-group',
        axis: 'y',
        items: '.room',
        opacity: 0.7,
        scroll: false,
        distance: '3',
        update: function() {
          roomSort();
        }
      });
    });

    document.getElementById('create-space-form').onsubmit = function (e) {
      e.preventDefault();
      let space_name = document.getElementById('space-name').value.trim();
      let space_image = document.getElementById('space-picture').value.trim();
      if (!/\.(jpg|jpeg|png|webp|avif|gif|svg)$/.test(space_image)) {
        space_image = '/static/images/Space.jpeg'
      }
      if (space_name.length) { 
        $.ajax({
          type: 'POST',
          url: '/create_space',
          dataType: "json",
          data: JSON.stringify({'space_name': space_name, 'space_image': space_image}),
          contentType: 'application/json;charset=UTF-8',
          success: function(room_and_section) {
            document.getElementById("create-space").style.display = "none";
            $(document.getElementById(current_space)).closest('.space-wrapper').find('.active-space').attr('style', '');
            $(document.getElementById(current_space)).attr('style', '');
            var newNode = document.createElement('li');
            newNode.className = 'space-wrapper';
            var newNodeChild = document.createElement('img');
            newNodeChild.className = 'space pointer';
            newNodeChild.id = room_and_section[0][0]['space'];;
            newNodeChild.setAttribute('data-name', space_name);
            newNodeChild.style.borderRadius = '3px';
            newNodeChild.src = space_image;
            newNode.appendChild(newNodeChild);
            newNodeChild = document.createElement('div');
            newNodeChild.className = 'active-space';
            newNodeChild.style.width = '39px'
            newNode.appendChild(newNodeChild);
            referenceNode = document.getElementById('space_align_helper');
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            current_space = room_and_section[0][0]['space'];
            space();
          }
        });
      }
    }

    $(document).on('click', '.edit-message', function() {
      var message_id = this.parentNode.parentNode.id;
      var message = this.parentNode.previousElementSibling.textContent;
      $(this.parentNode.previousElementSibling).hide();
      $(this.parentNode.previousElementSibling).after('<form class="message_edit_input_form"><textarea class="message_edit" rows="1" placeholder="Remove message">' + message + '</textarea></form>');
      this.parentNode.previousElementSibling.firstChild.setAttribute("style", "height:" + (this.parentNode.previousElementSibling.firstChild.scrollHeight) + "px;overflow-y:hidden;");
    });

    $(document).on('click', '.delete-message', function() {
      var message_id = this.parentNode.parentNode.id;
      $.ajax({
        type: 'POST',
        url: '/delete_message',
        dataType: 'json',
        data: JSON.stringify({'message_id': message_id}),
        contentType: 'application/json;charset=UTF-8',
        success: function (delete_message){
          alert(JSON.stringify(delete_message['success']));
          socket.emit('deleted_message', {'message_id': message_id, 'room_id': current_room});
        }
      })
    });

    socket.on('deleted_message', function (data) {
      try {
        var class_name = document.getElementById(data['message_id']).className;
        if ($('#' + data['message_id']).next().length != 0) {
          if (class_name == "message-container" && document.getElementById(data['message_id']).nextElementSibling.className == "message-container-combine") {
            var new_message_text = document.getElementById(data['message_id']).nextElementSibling.firstChild.nextElementSibling.textContent;
            document.getElementById(data['message_id']).firstChild.nextElementSibling.nextElementSibling.textContent = new_message_text;
            if (document.getElementById(data['message_id']).firstChild.nextElementSibling.nextElementSibling.textContent.includes('Yesterday')) {
              var new_message_time = document.getElementById(data['message_id']).nextElementSibling.firstChild.textContent; 
              document.getElementById(data['message_id']).firstChild.nextElementSibling.firstChild.nextElementSibling.textContent = 'Yesterday at ' + new_message_time;
            } else if (document.getElementById(data['message_id']).firstChild.nextElementSibling.textContent.includes('/')){
              var new_message_date = document.getElementById(data['message_id']).nextElementSibling.getAttribute("data-date");
              document.getElementById(data['message_id']).firstChild.nextElementSibling.firstChild.nextElementSibling.textContent = new_message_date;
            }
            else {
              var new_message_time = document.getElementById(data['message_id']).nextElementSibling.firstChild.textContent; 
              document.getElementById(data['message_id']).firstChild.nextElementSibling.firstChild.nextElementSibling.textContent = 'at ' + new_message_time;
            }
            document.getElementById(data['message_id']).nextElementSibling.remove();
          } else {
            document.getElementById(data['message_id']).remove();
          }
        }
        else {
          document.getElementById(data['message_id']).remove();
        }

        } catch(e) {
          alert(e);
        }
      });

    $(document).on('click', '.space', function() {
      if (current_space != this.id) {
        $(document.getElementById(current_space)).closest('.space-wrapper').find('.active-space').attr('style', '');
        $(document.getElementById(current_space)).attr('style', '');
        $(this).css('border-radius', '3px');
        $(this).closest('.space-wrapper').find('.active-space').css({width: '39px', WebkitTransition: 'width 0.1s ease-out', MozTransition: 'width 0.1s ease-out', MsTransition: 'width 0.1s ease-out', OTransition: 'width 0.1s ease-out', transition: 'width 0.1s ease-out'});
        current_space = this.id;
        space();
      }
    });
    
    $(document).on('click', '#home', function() {
      $('#' + current_space).attr('style', '');
      current_space = '';
      current_room = '';
      $('.active-space').attr('style', '');
      $('#home-page').css('display', 'block');
      $('#first-all').css('display', 'none');
      $('#space-search').css('display', 'none');
    });
    
    $(document).on('click', '.room', function(e) {
      if (e.target.className == 'room-settings') {
        const deleted_room = $(this).attr('id');
        const deleted_room_section = $(this).attr('data-section');
          $.ajax({
            type: "POST",
            url: '/delete_room',
            dataType: "json",
            data: JSON.stringify({'room_id': deleted_room, 'space_id': current_space, 'section_id': deleted_room_section}),
            contentType: 'application/json;charset=UTF-8',
            success: function(data) {
              if (data['success'] == 'true') {
                var rooms = document.querySelectorAll('.room')
                var room_list = [];
                for (let i = 0; i < rooms.length; i++) {
                  room_list.push(rooms[i].id);
                }
                socket.emit('deleted_room', {
                  room: deleted_room,
                  room_list: room_list
                });
              }
              else {
                alert('Spaces must have at least one room');
              }
            }
          });
      }
      else {
        joinRoom(this.id);
      }
    });
      
    function joinRoom(room_id) {
      if (current_room != room_id) {
        old_room = current_room;
        current_room = room_id;
        socket.emit('join_room', {
          room_id: current_room,
          old_room: old_room
        });
        $(document.getElementById(current_room)).attr('style', 'background-color: #43474d !important');
        $(document.getElementById(old_room)).attr('style', '');
        document.getElementById('messages').textContent = '';
        document.getElementById('room-name-display').textContent = document.getElementById(current_room).getAttribute('data-name');
        chat_history_skip = 0;
        loadChatHistory();
        typing_display.textContent = '';
        typing_list = [];
        stoppedTyping();
      }
    }

    $(document).on('click', '#close-user-page', function() {
      $("#user-page").animate({opacity: '0'}, 100);
      setTimeout(function() {
        $('#user-page').css('display', 'none');
      }, 100);
    });

    $(document).on('click', '#space-search-button', function() {
      $('#space-search').css('display', 'block');
      $("#space-search").animate({opacity: '1'}, 100);
    });
      
    $(document).on('click', '#close-space-search-button', function() {
      $("#space-search").animate({opacity: '0'}, 100);
      setTimeout(function() {
        $('#space-search').css('display', 'none');
      }, 100);
    });


    $(document).on('click', '.form-space', function() {
      var joined_space = this.getAttribute('data-id');
      var clicked_space = this;
      setTimeout(function() {
        clicked_space.firstChild.nextElementSibling.nextElementSibling.nextElementSibling.textContent = "Joined";
      }, 500)
      $.ajax({
        type: "POST",
        url: '/join_space',
        dataType: "json",
        data: JSON.stringify({'space_id': this.getAttribute('data-id')}),
        contentType: 'application/json;charset=UTF-8',
        success: function(data) {
          $(document.getElementById(current_space)).closest('.space-wrapper').find('.active-space').attr('style', '');
          $(document.getElementById(current_space)).attr('style', '');
          current_space = joined_space;
          if ($('#' + joined_space).length == 0) {

            var newNode = document.createElement('li');
            newNode.className = 'space-wrapper';
              
            var newNodeChild = document.createElement('img');
            newNodeChild.className = 'space pointer';
            newNodeChild.id = data['_id']['$oid'];
            newNodeChild.style.borderRadius = '3px';
            newNodeChild.setAttribute('data-name', data['name']);
            newNodeChild.src = data['picture'];
            newNode.appendChild(newNodeChild);
              
            newNodeChild = document.createElement('div');
            newNodeChild.className = 'active-space';
            newNodeChild.style.width = '39px';
            newNode.appendChild(newNodeChild);
              
            referenceNode = document.getElementById('space_align_helper');
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);

            space();
          }
          else {
            $('#' + current_space).css('border-radius', '3px');
            $('#' + current_space).closest('.space-wrapper').find('.active-space').css('width', '39px');
            space();
          }
        }
      });
    });

    $(document).on('click', '#server-settings-button', function() {
      var container = document.getElementById('space-settings-popup');
      if (container.style.display == 'block') {
        container.style.display = 'none';
        // document.addEventListener('click', removePopup(), {once: true});
      }
      else {
        container.style.display = 'block';
      }
    });

    $(document).on('click', function(e) {
      var container = $("#space-settings-popup");
      var profile_popup = $("#profile-popup");
      if (!container.is(e.target) && container.has(e.target).length === 0 && !$('#server-settings-button').is(e.target)) 
      {
        container.hide();
        // TODO: Make this function function only when popups appear (use .off function?)
        // https://stackoverflow.com/questions/67973984/getting-desired-event-target-when-listener-is-on-the-document
      }
      if (!!document.getElementById("profile-popup") && !profile_popup.is(e.target) && !$('.member').is(e.target) && !$('.member').is(e.target.parentNode)) { //&& profile_popup.has(e.target).length === 0) {
        profile_popup.remove();
        selected_user = '';
        $('.member').css('background-color', '');
        $('.member').addClass('pointer');
        // Removes Profile Popups, Probably Optimize and Combine This With Above
      }
    });

    function space() {
      $.ajax({
        type: "POST",
        url: '/space',
        dataType: "json",
        data: JSON.stringify({'space_id': current_space}),
        contentType: 'application/json;charset=UTF-8',
        success: function(rooms_and_sections) {
          if (rooms_and_sections[3][0].admins[0] == user_id) {
            space_admin = true;
          }
          else {
            space_admin = false;
          }
          //alert(space_admin);
          document.getElementById('messages').textContent = '';
          document.getElementById('header_text').textContent = document.getElementById(current_space).getAttribute('data-name');
          document.getElementById('special-channels').textContent = '';
          document.getElementById('regular-channels').textContent = '';
          document.getElementById('members').textContent = '';
          var newNode = document.createElement('li');
          newNode.className = 'email special-room pointer';
          newNode.textContent = 'email';
          document.getElementById('special-channels').append(newNode);
          rooms_and_sections[1].forEach(function(section) {
            newNode = document.createElement('ul');
            newNode.className = 'section-group'
            var newNodeChild = document.createElement('li');
            newNodeChild.className = 'section pointer';
            newNodeChild.id = section['_id']['$oid'];
            if (space_admin == true) {
              newNodeChild.innerHTML = '<div class="section-name">' + section['name'] + '</div><div class="create-room-button" type="button">+</div>';
            }
            else {
              newNodeChild.innerHTML = '<div class="section-name">' + section['name'] + '</div>';
            }//change 
            newNode.append(newNodeChild);
            var newNodeChildContainer = document.createElement('ul');
            newNodeChildContainer.className = 'room-group';
            rooms_and_sections[0].forEach(function(room) {
              if (room['section'] == section['_id']['$oid']) {
                newNodeChild = document.createElement('li');
                newNodeChild.className = 'room pointer';
                newNodeChild.id = room['_id']['$oid'];
                newNodeChild.setAttribute('data-section', room['section']);
                newNodeChild.setAttribute('data-name', room['name']);
                if (space_admin == true){
                newNodeChild.innerHTML = room['name'] + '<img class="room-settings" src="/static/images/settings-white.png">';
                } //change = remove room settings
                else{
                  //pass
                }
                newNodeChildContainer.append(newNodeChild);
              }
              newNode.append(newNodeChildContainer);
              document.getElementById('regular-channels').append(newNode);
            });
            $('.room-group').sortable({
              connectWith: '.room-group',
              axis: 'y',
              items: '.room',
              opacity: 0.7,
              scroll: false,
              distance: '3',
              update: function() {
                roomSort();
              }
            });
          });
          try { //get rid of try block after deleting all spaces without member list another method
            rooms_and_sections[2].forEach(function(member) {
              newNode = document.createElement('div');
              newNode.className = 'member pointer';
              newNode.setAttribute('data-id', member['_id']);
              newNode.innerHTML = '<img class="profile-picture" src=' + member['picture'] + ' alt="!"><span class="member-name">' + member['name'] + '</span>';
              document.getElementById('members').append(newNode);
            });
          }
          catch(error) {
            console.error(error);
          }
          joinRoom(document.querySelector('.room').id);
          $('#home-page').css('display', 'none');
          $('#first-all').css('display', 'block');
          $('#space-search').css('display', 'none');
        }
      });
    }

    $(document).on('click', '#profile', function() {
      $('#user-page').css('display', 'block');
      $("#user-page").animate({opacity: '1'}, 100);
      $.ajax({
        type: "POST",
        url: '/profile',
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function(data){
          alert('This worked!');
        }
      })
    });

    $(document).on('click', '.report-message', function() {
      $.ajax({
        type: "POST",
        url: '/report_message',
        dataType: "json",
        data: JSON.stringify({'message_id': this.parentNode.parentNode.id}),
        contentType: 'application/json;charset=UTF-8',
        success: function(data) {
          if (data['success'] == 'true') {
            alert("Your report has been recieved.")
          }
          else if (data['success'] == 'many') {
            alert("Message has already been reported.")
          }
          else {
            alert("Your report failed.")
          }
        }
      });
    });

    $(document).on('click', '.member', function() {
      if (this.getAttribute('data-id') != selected_user) {
        if (!!document.getElementById("profile-popup")) {
          $('#profile-popup').remove();
          $('.member').css('background-color', '');
          $('.member').addClass('pointer');
        }
        selected_user = this.getAttribute('data-id');
        let member = document.querySelector('[data-id="' + selected_user + '"]')
        let newNode = document.createElement('div');
        newNode.className = 'members-popup';
        newNode.id = 'profile-popup';
        member.appendChild(newNode);
        member.className = 'member';
        member.style.backgroundColor = '#3c3f45';
        $.ajax({
          type: "POST",
          url: '/open_member_profile',
          dataType: "json",
          data: JSON.stringify({'user_id': selected_user}), 
          contentType: 'application/json;charset=UTF-8',
          success: function(data) {
            alert(JSON.stringify(data))   
            document.getElementById('profile-popup').innerHTML = '<ul id="profile-list"><li id="profile-picture-list"><img id="popup-picture" src=' + data['picture'] + ' alt="!"></li><li id="profile-name">' + data['name'] + '</li><li id="profile-email">' + data['email'] + '</li>';
            /*for (let i = 0; i < data["joined"]; i++) {
              newNode = document.createElement("img")
              newNode.setAttribute("src", data["joined"])
              document.getElementById('profile-popup').appendChild(newNode)
            }*/
          }
        });
      }
      else if (!!document.getElementById("profile-popup")) {
        $('#profile-popup').remove();
        $('.member').css('background-color', '');
        $('.member').addClass('pointer');
        selected_user = '';
      }
    });

    var createSpaceModal = document.getElementById("create-space");
    $(document).on('click', '#create-space-button', function() {
      createSpaceModal.style.display = "block";
    });
    $(document).on('click', '#close-create-space', function() {
      createSpaceModal.style.display = "none";
    });

    var createRoomModal = document.getElementById("create-room");
    $(document).on('click', '.create-room-button', function() {
      createRoomModal.style.display = "block";
    });
    $(document).on('click', '#close-create-room', function() {
      createRoomModal.style.display = "none";
    });

    var createSectionModal = document.getElementById("create-section");
    $(document).on('click', '#create-section-button', function() {
      createSectionModal.style.display = "block";
    });
    $(document).on('click', '#close-create-section', function() {
      createSectionModal.style.display = "none";
    });

    var spaceSettingsPopup = document.getElementById('space-settings-popup'); 
    window.onclick = function(event) {
      if (event.target == createRoomModal) {
        createRoomModal.style.display = "none";
      }
      if (event.target == createSpaceModal) {
        createSpaceModal.style.display = "none";
      }
      if (event.target == createSectionModal) {
        createSectionModal.style.display = "none";
      }
      }

    $("#chat").on('mouseenter', '.message-container-combine', function(){
      $(this).find(".message-combine-time").css("visibility", "visible");
    });

    $("#chat").on('mouseleave', '.message-container-combine', function(){
      $(this).find(".message-combine-time").css("visibility", "hidden");
    });
  </script>
</html>